# import the libraries.

In [1]:
import numpy as np
import pandas as pd

# Read the dataset

In [3]:
ds= pd.read_csv('fuel consumption (1).csv')

In [4]:
ds.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

In [5]:
ds.tail()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
383,16,"3,7",39,"24,5",18,NaN,SP98,0,0,0,NaN,NaN
384,"16,1","4,3",38,25,31,AC,SP98,1,0,0,NaN,NaN
385,16,"3,8",45,25,19,NaN,SP98,0,0,0,NaN,NaN
386,"15,4","4,6",42,25,31,AC,SP98,1,0,0,NaN,NaN
387,"14,7",5,25,25,30,AC,SP98,1,0,0,NaN,NaN

# checking the null values

In [29]:
ds.isnull().sum().sum()

1057

In [30]:
ds['temp_inside']=ds['temp_inside'].fillna(ds['temp_inside'].mode()[0])
ds['specials']=ds['specials'].fillna(ds['specials'].mode()[0])
ds['refill liters']=ds['refill liters'].fillna(ds['refill liters'].mode()[0])
ds['refill gas']=ds['refill gas'].fillna(ds['refill gas'].mode()[0])

In [31]:
ds.isnull().sum().sum()

0

# Handling the null values

In [32]:
ds['distance'] = ds['distance'].str.replace(',', '').astype(int)
ds['consume'] = ds['consume'].str.replace(',', '').astype(int)
ds['temp_inside'] = ds['temp_inside'].str.replace(',', '').astype(int)
ds['refill liters'] = ds['refill liters'].str.replace(',', '').astype(int)

In [33]:
ds.drop(['specials','gas_type','refill gas'],axis=1,inplace=True)

In [34]:
ds=pd.get_dummies(ds,columns=['AC','rain','sun'])

In [35]:
ds.head()

,distance,consume,speed,temp_inside,temp_outside,refill liters,AC_0,AC_1,rain_0,rain_1,sun_0,sun_1
0,28,5,26,215,12,45,1,0,1,0,1,0
1,12,42,30,215,13,377,1,0,1,0,1,0
2,112,55,38,215,15,377,1,0,1,0,1,0
3,129,39,36,215,14,377,1,0,1,0,1,0
4,185,45,46,215,15,377,1,0,1,0,1,0

In [49]:
ds.tail()

,distance,consume,speed,temp_inside,temp_outside,refill liters,AC_0,AC_1,rain_0,rain_1,sun_0,sun_1
383,16,37,39,245,18,377,1,0,1,0,1,0
384,161,43,38,25,31,377,0,1,1,0,1,0
385,16,38,45,25,19,377,1,0,1,0,1,0
386,154,46,42,25,31,377,0,1,1,0,1,0
387,147,5,25,25,30,377,0,1,1,0,1,0

# separate independent and dependent null values

In [36]:
x=ds.drop(columns=['refill liters']).values
y=ds['refill liters'].values

# split the data into train and test

In [37]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

# Applying Linear Regrssion

In [38]:
from sklearn.linear_model import LinearRegression
MLR =LinearRegression()
MLR.fit(x_train,y_train)

LinearRegression()

In [39]:
y_pred=MLR.predict(x_test)
y_pred

array([371.09822453, 369.52891412, 372.81172721, 372.17946749,
       367.34253902, 373.04517496, 378.169471  , 359.56031917,
       366.1323778 , 371.05193345, 371.7090758 , 370.60188799,
       375.58095768, 378.65371814, 365.11426182, 372.78673024,
       366.37937682, 365.93791535, 383.0809985 , 374.27301898,
       369.33066202, 367.23602709, 374.50887587, 369.80508745,
       381.78023746, 374.42750512, 374.41547511, 380.90769184,
       373.368048  , 369.64519702, 363.35385279, 373.40481226,
       371.49059575, 367.54171024, 370.90121432, 373.84133764,
       384.87074003, 365.55701603, 358.80586821, 370.33767572,
       371.81752993, 385.11441242, 372.43301231, 356.54312481,
       370.2118931 , 354.65478687, 370.84729778, 366.60124571,
       376.4039182 , 363.7747951 , 367.4806127 , 341.64819923,
       365.97343685, 365.94823951, 343.72046956, 364.70464327,
       376.58383472, 365.80585011, 377.80125722, 356.56859994,
       374.72932463, 365.69712801, 373.09503463, 372.80338792,
       367.36551568, 379.50181841, 344.72155564, 348.68142322,
       363.33181567, 366.01835646, 369.6269572 , 379.68153683,
       366.74397281, 370.6060549 , 375.63240879, 376.13989307,
       366.02452766, 370.41370387])

In [40]:
pred=MLR.predict(x_train)
pred

array([358.95726197, 371.54610863, 376.51971701, 370.95857327,
       385.51215517, 368.20670812, 368.14902045, 369.80211038,
       366.01779735, 360.33355355, 371.01990444, 371.32256016,
       379.52946654, 368.82281868, 377.45633415, 371.91518378,
       356.38586393, 362.18416236, 371.35219211, 372.90247565,
       372.11023069, 372.2190534 , 364.66369596, 369.78607335,
       371.5715869 , 368.62779056, 373.63339547, 363.26187096,
       372.82653999, 369.47526112, 367.07039649, 372.7401349 ,
       386.8025232 , 378.85962382, 389.55363664, 382.52226173,
       370.29409421, 383.51234554, 375.12116077, 375.7196025 ,
       363.90235465, 373.54468292, 387.09112941, 355.44914043,
       370.60966659, 379.04420604, 375.68321245, 362.60680824,
       353.93807899, 367.79841244, 370.0905516 , 370.57979047,
       367.31304037, 375.30224016, 367.32463126, 364.72753744,
       370.44676224, 362.43316841, 367.63284961, 372.72006431,
       366.54987705, 369.55566554, 348.93798675, 358.93244875,
       378.80537318, 342.72173952, 371.40479625, 372.71014069,
       363.35783875, 366.3779662 , 358.96113651, 357.82300497,
       370.47249343, 378.55700775, 367.24223297, 380.96587786,
       358.50503939, 367.7432497 , 366.16969663, 353.07130171,
       371.42893397, 359.17728988, 370.6581425 , 367.62342951,
       361.25842114, 375.77530468, 357.79912052, 323.07262338,
       364.89871357, 373.79844017, 359.73990626, 370.25168679,
       378.15575775, 366.2288763 , 367.79869323, 392.46017301,
       379.64389585, 371.37474211, 376.11464034, 377.02104011,
       368.83206433, 340.79328676, 382.15250466, 379.94187441,
       376.50719304, 380.66808847, 368.56882043, 368.01081738,
       379.31480659, 372.04470638, 380.92566934, 375.39541698,
       371.70727673, 365.30467503, 365.41975312, 372.05372651,
       373.46781023, 373.12089334, 378.2398432 , 384.47472799,
       369.70653999, 384.42707794, 358.2818229 , 377.79143932,
       362.35756437, 373.55407947, 361.98813045, 361.10421866,
       375.84215356, 351.80605398, 368.61491195, 364.62453162,
       374.98695346, 368.20291027, 364.01176219, 357.24299859,
       359.84464725, 375.304046  , 375.10765131, 376.34242835,
       373.5637371 , 367.58876357, 366.83643241, 367.71976835,
       367.52159733, 374.0481922 , 372.23884227, 374.29710972,
       367.05675945, 379.22456632, 376.58313324, 368.75855619,
       371.68882628, 353.9673765 , 368.06766322, 365.49024265,
       363.37337766, 369.13128181, 370.02178815, 379.28609356,
       372.62944195, 369.91010049, 369.72032849, 374.01831317,
       374.19809775, 360.0149551 , 357.17896732, 363.6995615 ,
       369.04521027, 371.80156618, 365.1547238 , 369.96190365,
       369.03120957, 369.74862388, 375.71720034, 353.54464696,
       378.57454767, 366.98170512, 366.28607349, 378.46989126,
       379.41383046, 380.57007243, 367.26115172, 373.56321403,
       367.8472774 , 362.32132373, 374.01711657, 366.87988291,
       370.3003986 , 355.19787798, 372.15308208, 386.02206187,
       392.03943707, 372.60027286, 378.02837248, 398.81417103,
       374.81938773, 364.4654862 , 375.24177278, 321.38056994,
       381.45448519, 366.58875185, 373.24323206, 365.22293679,
       366.13886887, 376.67162209, 376.78174736, 371.42251718,
       382.03900446, 381.00423381, 362.01964174, 381.47163141,
       368.52404423, 369.46147447, 369.46042516, 372.13420632,
       366.47430242, 336.59337423, 353.90872337, 367.72641775,
       369.9611962 , 361.74348971, 374.98965619, 365.27691648,
       362.28884691, 373.4927727 , 364.04106687, 369.17728906,
       372.78371546, 380.34151313, 372.13504327, 375.2004963 ,
       370.99997808, 370.29423587, 366.01213848, 368.88033177,
       369.25722185, 348.82049173, 362.68686227, 359.40496111,
       378.87219381, 363.27567104, 372.11668626, 373.17393876,
       367.54078313, 363.25223777, 362.89646586, 367.40314004,
       366.37061906, 374.44650948, 374.73276665, 373.57767558,
       366.58785665, 375.45339554, 323.01396673, 360.56663922,
       364.52689946, 365.79093984, 367.78398223, 366.9284596 ,
       364.40556066, 377.50092313, 370.38476779, 365.27047125,
       367.60153643, 374.05335876, 371.24255319, 370.13155746,
       364.49876818, 371.48613546, 356.13182761, 388.13476993,
       370.61598101, 372.24876563, 366.34084139, 365.29940387,
       367.03594367, 368.98036362, 368.72201244, 361.58220175,
       370.21019394, 358.00950897, 381.89548534, 364.17518356,
       351.16112248, 373.12594677, 378.47361524, 359.85589351,
       373.91664768, 379.1002776 , 369.42673587, 367.34131023,
       384.75664504, 366.41686022, 375.0353568 , 389.33406749,
       382.99410981, 370.87473927, 346.63755957, 376.43939612,
       368.32720286, 382.7610592 , 365.4456487 , 374.31656397,
       375.42092408, 365.42065573, 374.15254853, 354.91401191,
       371.66161828, 363.46858605])

In [41]:
from sklearn.metrics import r2_score

acc=r2_score(y_test,y_pred)

acc

0.09512698789074969

In [42]:
MLR.predict([[34,4,56,315,1,0,0,0,0,0,1]])

array([377.31226895])

In [43]:
import pickle

In [44]:
pickle.dump(MLR,open('/content/b','wb'))

In [47]:
ml=pickle.load(open('f','rb'))

In [48]:
ml.predict(x_test)

array([371.09822453, 369.52891412, 372.81172721, 372.17946749,
       367.34253902, 373.04517496, 378.169471  , 359.56031917,
       366.1323778 , 371.05193345, 371.7090758 , 370.60188799,
       375.58095768, 378.65371814, 365.11426182, 372.78673024,
       366.37937682, 365.93791535, 383.0809985 , 374.27301898,
       369.33066202, 367.23602709, 374.50887587, 369.80508745,
       381.78023746, 374.42750512, 374.41547511, 380.90769184,
       373.368048  , 369.64519702, 363.35385279, 373.40481226,
       371.49059575, 367.54171024, 370.90121432, 373.84133764,
       384.87074003, 365.55701603, 358.80586821, 370.33767572,
       371.81752993, 385.11441242, 372.43301231, 356.54312481,
       370.2118931 , 354.65478687, 370.84729778, 366.60124571,
       376.4039182 , 363.7747951 , 367.4806127 , 341.64819923,
       365.97343685, 365.94823951, 343.72046956, 364.70464327,
       376.58383472, 365.80585011, 377.80125722, 356.56859994,
       374.72932463, 365.69712801, 373.09503463, 372.80338792,
       367.36551568, 379.50181841, 344.72155564, 348.68142322,
       363.33181567, 366.01835646, 369.6269572 , 379.68153683,
       366.74397281, 370.6060549 , 375.63240879, 376.13989307,
       366.02452766, 370.41370387])