# import the libraries.

In [1]:
import numpy as np
import pandas as pd

# Read the dataset

In [3]:
ds= pd.read_csv('fuel consumption (1).csv')

In [4]:
ds.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

In [5]:
ds.tail()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
383,16,"3,7",39,"24,5",18,NaN,SP98,0,0,0,NaN,NaN
384,"16,1","4,3",38,25,31,AC,SP98,1,0,0,NaN,NaN
385,16,"3,8",45,25,19,NaN,SP98,0,0,0,NaN,NaN
386,"15,4","4,6",42,25,31,AC,SP98,1,0,0,NaN,NaN
387,"14,7",5,25,25,30,AC,SP98,1,0,0,NaN,NaN

# checking the null values

In [29]:
ds.isnull().sum().sum()

1057

In [30]:
ds['temp_inside']=ds['temp_inside'].fillna(ds['temp_inside'].mode()[0])
ds['specials']=ds['specials'].fillna(ds['specials'].mode()[0])
ds['refill liters']=ds['refill liters'].fillna(ds['refill liters'].mode()[0])
ds['refill gas']=ds['refill gas'].fillna(ds['refill gas'].mode()[0])

In [31]:
ds.isnull().sum().sum()

0

# Handling the null values

In [32]:
ds['distance'] = ds['distance'].str.replace(',', '').astype(int)
ds['consume'] = ds['consume'].str.replace(',', '').astype(int)
ds['temp_inside'] = ds['temp_inside'].str.replace(',', '').astype(int)
ds['refill liters'] = ds['refill liters'].str.replace(',', '').astype(int)

In [33]:
ds.drop(['specials','gas_type','refill gas'],axis=1,inplace=True)

In [34]:
ds=pd.get_dummies(ds,columns=['AC','rain','sun'])

In [35]:
ds.head()

,distance,consume,speed,temp_inside,temp_outside,refill liters,AC_0,AC_1,rain_0,rain_1,sun_0,sun_1
0,28,5,26,215,12,45,1,0,1,0,1,0
1,12,42,30,215,13,377,1,0,1,0,1,0
2,112,55,38,215,15,377,1,0,1,0,1,0
3,129,39,36,215,14,377,1,0,1,0,1,0
4,185,45,46,215,15,377,1,0,1,0,1,0