# MODEL BUILDING

# separating independent and dependent variables

In [44]:
new_order =[0,1,2,3,4,5,6,7,8,9,11,10] 
df=ds[ds.columns[new_order]]

In [45]:
df.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill gas,refill liters
0,28,5,26,215,12,0,0,0,0,0,0,45
1,12,42,30,215,13,0,0,0,0,0,1,377
2,112,55,38,215,15,0,0,0,0,0,1,377
3,129,39,36,215,14,0,0,0,0,0,1,377
4,185,45,46,215,15,0,0,0,0,0,1,377

In [47]:
x=df.iloc[:,:-1]
y=df['refill liters']

In [48]:
x

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill gas
0,28,5,26,215,12,0,0,0,0,0,0
1,12,42,30,215,13,0,0,0,0,0,1
2,112,55,38,215,15,0,0,0,0,0,1
3,129,39,36,215,14,0,0,0,0,0,1
4,185,45,46,215,15,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
383,16,37,39,245,18,0,1,0,0,0,1
384,161,43,38,25,31,2,1,1,0,0,1
385,16,38,45,25,19,0,1,0,0,0,1
386,154,46,42,25,31,2,1,1,0,0,1
387,147,5,25,25,30,2,1,1,0,0,1

In [49]:
y

0       45
1      377
2      377
3      377
4      377
      ...
383    377
384    377
385    377
386    377
387    377
Name: refill liters, Length: 388, dtype: int32

# Splitting Data into train and test

In [52]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [55]:
print(x_train.shape)

(310, 11)

In [56]:
print(x_test.shape)

(78, 11)

In [58]:
print(y_train.shape)

(310,)

In [59]:
print(y_test.shape)

(78,)

# Applying Linear Regression

In [63]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(x_train,y_train)

LinearRegression()

In [64]:
pred=regr.predict(x_test)

In [79]:
pred

array([388.51282649, 372.39679943, 380.26580112, 372.06454683,
       331.5105774 , 381.39224097, 377.52770146, 367.57266391,
       275.34145899, 374.1657708 , 365.6867949 , 375.88335766,
       387.06233545, 380.95805677, 377.81169178, 378.35230808,
       356.89141991, 386.6032728 , 383.28292752, 383.26044657,
       377.54162572, 380.48927711, 380.65924506, 385.34632892,
       381.00477541, 200.2644381 , 345.77144341, 387.24854411,
       366.7414621 , 383.70805356, 361.60986913, 381.24804787,
       377.77184264, 311.96595483, 255.15533755, 359.90408988,
       373.64492202, 357.19631874, 377.09335936, 373.67635904,
       360.31346636, 369.01631719, 381.59336302, 373.34943933,
       373.2631759 , 361.33600243, 362.70625046, 379.20466975,
       375.26898158, 382.38302108, 357.55393339, 383.72266322,
       228.64834967, 369.85581864, 385.06675368, 365.60392536,
       378.44810004, 344.20852333, 379.18894872, 370.85111427,
       368.43770716, 376.96799254, 371.10980558, 366.87453197,
       381.80105147, 365.94047377, 375.03225324, 389.30447861,
       371.16574172, 362.87446513, 378.07766102, 367.84665315,
       381.87469508, 380.43272681, 383.4979053 , 372.72414699,
       379.39133744, 218.61778807])

In [88]:
pred2 = regr.predict([[68,6,25,215,19,1,0,0,0,0,1]])
pred2

array([381.72433005])